.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #075e54; /* WhatsApp theme color */
    color: white;
  
    &__left {
      display: flex;
      align-items: center;
  
      &__profile-picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 15px;
      }
  
      &__info {
        display: flex;
        flex-direction: column;
      }
  
      &__name {
        font-size: 1rem;
        font-weight: bold;
      }
  
      &__status {
        font-size: 0.85rem;
        color: #dcdcdc;
      }
    }
  
    &__right {
      display: flex;
  
      &__icon {
        background: none;
        border: none;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
        margin-left: 15px;
  
        &:hover {
          color: #ddd;
        }
      }
    }
  }
  